<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/locale/bootstrap-table-en-US.min.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
        href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">



    <link type="text/css" rel='stylesheet' href='/css/stylesheet.css' />


    <title>Avalanche C-Chain Fees Tracker</title>
</head>

<body>

    <%- include('../views/partials/header.ejs') %>
        <%- include('../views/partials/footer.ejs') %>

            <div class="container">
                <table class="table table-hover" id="dataTable" data-height="600" data-toggle="table" data-search="true"
                    data-show-export="true" data-pagination="true" data-click-to-select="true" data-toolbar="#toolbar"
                    data-page-size='14' data-show-columns="true" data-sort-name="block" data-sort-order="desc">
                    <thead class="thead-light">
                        <tr>
                            <th data-field="block"scope="col">Block</th>
                            <th scope="col">Hash</th>
                            <th scope="col">Date</th>
                            <th scope="col">Burned Fees</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <% blocks.forEach(function(block){ %>
                                <td>
                                    <%= block._id %>
                                </td>

                                <td>
                                    <%= block.hash %>
                                </td>
                                <td>
                                    <%= block.time %>
                                </td>
                                <td>
                                    <%= block.burnedFees %> AVAX

                                </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>


            <!--Bootstrap DataTable settings-->
            <script>
                $('#dataTable').bootstrapTable({
                    pagination: true,
                    pageList: [25, 50, 75, 100],//list of page sizes
                    
                });
            </script>


            <!--JS Includes for Bootstrap-->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
            <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
                integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
                crossorigin="anonymous"></script>
            <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
                integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
                crossorigin="anonymous"></script>
            <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>



</body>

</html>