<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="//code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>

    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>


    <link type="text/css" rel='stylesheet' href='/css/stylesheet.css' />

    <!-- <meta http-equiv="refresh" content="3" />   -->


    <title>Avalanche C-Chain Fees Tracker</title>
</head>

<body>

    <%- include('../views/partials/header.ejs') %>
        <%- include('../views/partials/footer.ejs') %>

            <div class="container">
                <table class="table table-hover d-print-table-row" id="dataTable" data-height="600" data-toggle="table"
                    data-search="true" data-show-export="true" data-pagination="true" data-click-to-select="true"
                    data-toolbar="#toolbar" data-page-size='14' data-show-columns="true" data-sort-name="block"
                    data-sort-order="desc" border="0" cellpadding="0" cellspacing="0" autoRefresh="true"
                    autoRefreshStatus="true" data-show-refresh="true" autoRefreshInterval="3"
                    data-auto-refresh-interval="1000">
                    <thead class="thead-light">
                        <tr>
                            <th data-field="block" scope="col">Block</th>
                            <th scope="col">Hash</th>
                            <th scope="col">Date</th>
                            <th scope="col">Burned Fees</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <% blocks.forEach(function(block){ %>
                                <td>
                                    <%= block._id %>
                                </td>

                                <td>
                                    <%= block.hash %>
                                </td>
                                <td>
                                    <%= block.time %>
                                </td>
                                <td>
                                    <%= block.burnedFees %> AVAX

                                </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>


            <!--Bootstrap DataTable settings-->
            <script>
                $('#dataTable').bootstrapTable({
                    pagination: true,
                    pageList: [25, 50, 75, 100],//list of page sizes
                });

                $('#dataTable').data.reload();
            </script>






</body>

</html>